div.image-manager-wrapper {
    display: inline-block;
}

div.image-manager-wrapper a {
    display: block;
    background-color: wheat;
    opacity: 0.8;
    padding: 0 5px;
    font-style: italic;
    font-size: 10px;
    border-radius: 3px;
    color: grey;
    text-decoration: none;
    text-align: center;
}

div.image-manager-wrapper a:hover {
    opacity: 1;
}
