@media(max-width: 1400px) {

  /*Main*/

  .wrapper {
    width: 95%;
  }

  .header__menu > ul {
    width: 100%;
  }

  /*Partners*/

  .partners__item {
    width: 33%;
  }

  /*Activity*/

  .activity__container {
    height: 55vh;
    max-height: 550px;
  }

  .activity__item {
    width: 45%;
  }

  /*Projects*/

  .projects__main {
    width: 66%;
  }

  .projects__main img {
    height: 100%;
    width: initial;
  }

}


@media(max-width: 1200px) {

  /*Main*/

  .header__menu-item > a {
    font-size: 19px;
    white-space: nowrap;
  }

  /*Government*/
  /*Trustees*/

  .government__image,
  .trustees__image {
    width: 235px;
    height: 235px;
  }

  .government__image,
  .trustees__image {
    border-width: 30px;
  }

  /*Docs*/

  .docs__item {
    font-size: 16px;
    width: initial;
  }

  .docs__item::after {
    right: -15px;
  }

  /*Question*/

  .question__description,
  .help__description,
  .success {
    width: 75%;
  }

  .question__form {
    width: 75%;
  }

  .help__input {
    width: 45%;
  }

  /*Projects*/

  .projects__main {
    width: 70%;
  }

  .projects__bar {
    width: 27%;
  }

  .projects__image {
    /*height: 160px;*/
    overflow: hidden;
  }

  .projects__main .projects__image {
    height: 250px;
  }

  .projects__image img {
    left: 50%;
    position: relative;
    transform: translateX(-50%) translateY(0);
  }
}


@media(max-width: 1000px) {

  /*Main*/

  .header__menu-item > a {
    font-size: 17px;
  }

  .submenu {
    min-width: 270px;
  }

  /*Docs*/

  .wrapper_docs {
    flex-wrap: wrap;
  }

  .docs__column {
    width: 100%;
    margin-bottom: 30px;
  }

  .docs__item:hover::after {
    display: none;
  }

  /*Partners*/

  .partners__item {
    width: 50%;
  }

  /*Projects*/

  .wrapper_projects {
    flex-wrap: wrap;
  }

  .projects__main {
    width: 100%;
  }

  .projects__bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-left: none;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .projects__item {
    width: 48%;
  }

  .projects__image {
    /*height: 220px;*/
  }

  .projects__bar-title {
    display: block;
  }

  /*Structure*/

  .wrapper_structure {
    justify-content: center;
  }

  .structure__image {
    width: 100%;
  }

  .structure__title {
    text-align: center;
    width: 90%;
  }

}


@media(max-width: 900px) {

  /*Main*/

  .wrapper_main {
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  .wrapper_header {
    padding: 15px 20px;
    margin-bottom: 11px;
    position: relative;
  }

  .header__logo {
    width: 150px;
    height: 50px;
  }

  .header__button {
    font-size: 21px;
    padding: 14px 42px 17px 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .header__menu-btn {
    display: block;
  }

  .header__menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    z-index: 2;
    -webkit-box-shadow: -2px 5px 14px 5px rgba(0,0,0,0.18);
    -moz-box-shadow: -2px 5px 14px -5px rgba(0,0,0,0.18);
    box-shadow: -2px 5px 14px -5px rgba(0,0,0,0.18);
  }

  .header__menu > ul {
    width: 45vw;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
    padding-bottom: 15px;
  }

  .header__menu-item:nth-of-type(1),
  .header__menu-item:nth-of-type(2),
  .header__menu-item:nth-of-type(3) {
    background: url(../img/submenu.png) no-repeat 8% center / 15px;
  }

  .header__menu-item > a {
    color: #183b70;
    font-weight: bold;
    text-align: right;
  }

  .header__menu-item > a:hover,
  .header__menu-item.hover > a,
  .submenu__item a:hover {
    background-color: transparent;
    color: #183b71;
  }

  .header__menu-item {
    padding-right: 45px;
    width: 100%;
  }

  .submenu {
    left: -100%;
    top: 0;
    min-width: 47vw;
    background: rgba(255,255,255,.85);
  }

  .submenu__item {
    border-bottom: 1px solid #fff;
  }

  .submenu__item:first-of-type {
    border-top: 1px solid #fff;
  }

  .submenu__item a {
    font-weight: bold;
    padding: 17px 18px 17px 20px;
  }

  .submenu::before {
    display: none;
  }

  .breadcrumbs {
    padding-left: 20px;
  }

  .main__item {
    width: 48%;
    margin-bottom: 60px;
  }

  .wrapper_footer {
    flex-direction: column;
    text-align: center;
  }

  .footer__about {
    margin-bottom: 20px;
  }

  .footer__contact {
    margin-bottom: 25px;
  }


  /*Government*/
  /*Trustees*/

  .wrapper_government,
  .wrapper_trustees {
    flex-wrap: wrap;
  }

  .government__item,
  .trustees__item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .government__image,
  .trustees__image {
    display: inline-block;
  }

  /*Requisites*/

  .wrapper_requisites {
    flex-wrap: wrap;
  }

  .requisites .requisites__block {
    width: 100%;
    margin-bottom: 60px;
  }

  /*Question*/

  .wrapper_question,
  .wrapper_help {
    width: 90%;
  }

  .question__description,
  .help__description,
  .success {
    width: 100%;
  }

  .question__form {
    width: 100%;
  }

  .help__input {
    width: 58%;
  }

}


@media(max-width: 700px) {

  /*Main*/

  .wrapper_main {
    justify-content: center;
  }

  .header__button {
    display: none;
  }

  .header__button-mob {
    display: inline-block;
    font-size: 20px;
    padding: 14px 35px 18px 35px;
    margin-top: 2vh;
    margin-right: 12px;
  }

  .wrapper_header {
    padding: 10px 8px;
  }

  .header__menu {
    text-align: right;
    padding-bottom: 15px;
  }

  .header__menu > ul {
    width: 80vw;
  }

  .header__menu-item {
    padding-right: 12px;
  }

  .header__menu-item:nth-of-type(1),
  .header__menu-item:nth-of-type(2),
  .header__menu-item:nth-of-type(3) {
    background: url(../img/submenu-down.png) no-repeat 8% 20px / 15px;
  }

  .header__menu-item > a {
    white-space: normal;
    display: inline-block;
    width: 80%;
  }

  .header__menu-btn span {
    width: 26px;
  }

  .submenu {
    min-width: 50vw;
    position: static;
  }

  .submenu__item a {
    font-size: 14px;
    text-align: left;
  }

  .breadcrumbs {
    bottom: -30px;
  }

  .breadcrumbs__item a {
    font-size: 10px;
  }

  .main__banner {
    height: 33vh;
  }

  .main__item {
    width: 80%;
    margin-bottom: 60px;
  }

  .main__item {
    text-align: center;
  }


  /*Government*/
  /*Trustees*/

  .government__image,
  .trustees__image {
    width: 210px;
    height: 210px;
  }

  .government__image,
  .trustees__image {
    border-width: 25px;
  }

  .government__item,
  .trustees__item {
    width: 90%;
  }

  /*Docs*/

  .docs__column {
    overflow: hidden;
  }

  /*Contact*/

  .contact__paragraph {
    font-size: 18px;
  }

  /*Partners*/

  .partners__image {
    width: 210px;
    height: 210px;
  }

  .partners__name {
    font-size: 26px;
  }

  /*Question*/

  .question__input-wrap {
    width: 100%;
  }

  .question__input {
    width: 75%;
    display: block;
  }

  .question__input-wrap:first-of-type {
    margin-bottom: 20px;
  }

  .help__input {
    width: 75%;
  }

  /*Activity*/

  .activity__container {
    height: initial;
    max-height: initial;
  }

  .activity__item {
    width: 100%;
  }

  .activity__name {
    -webkit-line-clamp: 2;
    width: 92%;
  }

  .activity__item::after {
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);
  }

  .activity__item::before {
    display: none;
  }

  .activity__item:hover .activity__name {
    color: #77b65e;
  }

  .activity__item:hover::after {
    border-left-color: #77b65e;
  }

  .activity__link {
    font-size: 16px;
    width: initial;
  }

  .activity__link::after {
    right: -15px;
  }

  /*Projects*/

  .projects__main .projects__image:first-of-type {
    width: 100%;
    height: 35vh;
    max-height: 280px;
  }

  .projects__image img {
    width: 100%;
    height: initial;
  }

  .projects__main .projects__image:last-of-type {
    display: none;
  }


  /*Structure*/

  .structure__image img:last-of-type {
    display: block;
  }

  .structure__image img:first-of-type {
    display: none;
  }

  .structure__title {
    width: 95%;
    font-size: 24px;
  }

}


@media(max-width: 600px) {

  /*Partners*/

  .partners__item {
    width: 75%;
  }

  /*Projects*/

  .projects__bar {
    justify-content: center;
  }

  .projects__item {
    width: 72%;
  }

}


@media(max-width: 500px) {

  /*Main*/

  .main__item {
    width: 95%;
  }

  /*Question*/

  .question__input,
  .help__input {
    width: 100%;
  }

  /*Projects*/

  .projects__item {
    width: 95%;
  }

}


@media(min-width: 900px) {

  .header__menu {
    display: block!important;
  }

}