/*Normalize*/

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #202020;
}

button,
input,
textarea,
select {
  font-family: Myriad;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
}

li {

  list-style-type: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}


/*Fonts*/

@font-face {
  font-family: Myriad;
  font-weight: 400;
  src: url(../fonts/MyriadProRegular.ttf);
}

@font-face {
  font-family: Myriad;
  font-weight: 500;
  src: url(../fonts/MyriadProSemiBold.ttf);
}


/*Common*/

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-family: Myriad;
  font-weight: 400;
  position: relative;
  margin: auto;
  color: #202020;
  background-color: #fff;
  min-width: 320px;
  letter-spacing: .05em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main,
.government,
.trustees,
.docs,
.contact,
.requisites,
.partners,
.question,
.help,
.activity,
.projects,
.structure {
  flex: 1;
}

.wrapper {
  display: flex;
  width: 1380px;
  margin-left: auto;
  margin-right: auto;
}


/*Header*/

.header {
  position: relative;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.18);
}

.wrapper_header {
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.header__logo {
  width: 218px;
  height: 73px;
  background: url(../img/header-logo.png) no-repeat center / contain;
  image-rendering: -o-crisp-edges;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
}

.header__button,
.header__button-mob {
  font-size: 23px;
  color: #fff;
  padding: 16px 55px 19px 55px;
  background-color: #183b71;
  cursor: pointer;
  transition: .2s;
}

.header__button:hover {
  background-color: #18528b;
  color: #fff;
}

.header__button-mob {
  display: none;
}

.header__menu {
  background-color: #77b65e;
}

.header__menu > ul {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.header__menu-item {
  position: relative;
}

.header__menu-item:nth-of-type(1) {
  flex-grow: 3;
}
.header__menu-item:nth-of-type(2) {
  flex-grow: 3;
}
.header__menu-item:nth-of-type(3) {
  flex-grow: 2;
}
.header__menu-item:nth-of-type(4) {
  flex-grow: 1;
}
.header__menu-item:nth-of-type(5) {
  flex-grow: 1;
}

.header__menu-item > a {
  display: block;
  font-size: 21px;
  color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 19px;
  transition: .2s;
}

.header__menu-item > a:hover,
.header__menu-item.hover > a {
  background-color: #183b71;
}

.submenu {
  display: none;
  width: 100%;
  min-width: 222px;
  position: absolute;
  left: 0;
  top: 100%;
  background: rgba(255,255,255,.9);
  z-index: 2;
}

.submenu::before {
  content: '';
  border: 8px solid transparent;
  border-top-color: #183b71;
  border-bottom: 0;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: .2s;
}

.submenu:hover::before {
  border-top-color: #183b71;
}

.submenu__item {
  display: block;
  width: 100%;
}

.submenu__item a {
  color: #183b71;
  font-size: 16px;
  padding: 10px 18px 11px 18px;
  display: block;
  transition: .2s;
}

.submenu__item a:hover {
  color: #fff;
  background-color: #183b71;
}

.header__menu-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.header__menu-btn::before {
  content: 'Меню';
  font-family: Myriad;
  font-size: 14px;
  font-weight: 500;
  color: #183b71;
  text-transform: uppercase;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  cursor: default;
}

.header__menu-btn span {
  width: 32px;
  height: 3px;
  background-color: #183b71;
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 4px;
  transition: .2s;
  position: relative;
}

.header__menu-btn.active span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 5px;
}
.header__menu-btn.active span:nth-of-type(2) {
  display: none;
}
.header__menu-btn.active span:nth-of-type(3) {
  transform: rotate(-45deg);
  bottom: 5px;
}

.breadcrumbs {
  position: relative;
  bottom: -50px;
  display: flex;
  margin-top: -30px;
  padding-left: 95px;
}

.breadcrumbs__item a {
  font-size: 13px;
  color: #77b65e;
  text-transform: uppercase;
  margin-right: 20px;
}

.breadcrumbs_white a {
  color: #fff;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:last-of-type)::after {
  content: '>';
  font-size: 15px;
  color: #77b65e;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.breadcrumbs_white .breadcrumbs__item:not(:last-of-type)::after {
  color: #fff;
}


/*Main*/
/*Projects*/

.main__banner {
  height: 390px;
  background: url(../img/main-banner.jpg) no-repeat center / cover;
}

.wrapper_main {
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 60px;
  flex-wrap: wrap;
}

.wrapper_projects {
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 9vh;
  padding-bottom: 5vh;
}

.main__item {
  width: 32%;
  position: relative;
  margin-bottom: 65px;
}

.main__image {
  width: 100%;
  /*height: 215px;*/
  position: relative;
  overflow: hidden;
  max-height: 215px;
  text-align: center;
  display: flex;
}

.projects__image{
  /*width: 100%;
  height: 215px;
  position: relative;
  overflow: hidden;*/
}

.main__image img {

}
.projects__image img {
  /*position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);*/
}

.projects__main img {
  width: 100%;
}

.projects__bar img {
  height: 100%;
}

.main__name,
.projects__name {
  font-size: 29px;
  color: #183b71;
  margin-top: 8px;
  display: block;
}

.projects__bar .projects__name {
  font-size: 26px;
}

.main__name:hover,
.main__name:focus,
.projects__name:hover,
.projects__name:focus {
  color: #183b71;
}

.main__description,
.projects__description {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 44px;
  margin-top: 8px;
}

.main__more,
.projects__more {
  font-size: 18px;
  color: #77b65e;
  border-bottom: 1px solid #77b65e;
  position: absolute;
  right: 0;
  bottom: -30px;
  transition: .2s;
}

.main__more:hover,
.main__more:focus,
.projects__more:hover,
.projects__more:focus {
  color: #9ddf83;
}

.main__title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #77b65e;
  width: 100%;
}
.main__title:first-child {
  margin-top: 15px;
}

.projects__main .projects__description {
  overflow: visible;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: initial;
  -webkit-box-orient: vertical;
  height: initial;
}

.projects__main {
  width: 68%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.projects__main .projects__image {
  width: 48.5%;
}

.projects__main .projects__name {
  margin-top: 30px;
  margin-bottom: 25px;
}

.projects__main .projects__description {
  margin-bottom: 25px;
}

.projects__bar {
  width: 30%;
  border-left: 1px solid #202020;
  padding-left: 20px;
}

.projects__item {
  position: relative;
  width: 100%;
  margin-bottom: 65px;
}

.projects__bar-title {
  width: 100%;
  font-size: 20px;
  color: #202020;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.projects__link {
  display: block;
  position: relative;
  padding-right: 4vw;
  margin-bottom: 25px;
  transition: .2s;
  font-size: 17px;
  color: #77b65e;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight:600;
}
.projects__link:hover,
.projects__link:hover,
.projects__link:focus{
  color: #18528b;
}


/*Footer*/

.footer {
  background-color: #183b71;
  padding-top: 15px;
  padding-bottom: 15px;
}

.wrapper_footer {
  align-items: center;
  justify-content: space-between;
}

.footer__about {
  text-align: center;
}

.footer__logo {
  display: block;
  width: 208px;
  height: 73px;
  background: url(../img/footer-logo.png) no-repeat center / contain;
  image-rendering: -o-crisp-edges;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
}

.footer__copy {
  font-size: 10px;
  color: #77b65e;
  font-weight: 500;
}

.footer__copy:hover,
.footer__copy:focus {
  color: #77b65e;
}

.footer__contact-item,
.footer__contact-item a {
  font-size: 17px;
  color: #fff;
}

.footer__contact-item span {
  font-weight: 500;
}

.footer__to-site {
  font-size: 17px;
  color: #77b65e;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 5px 25px 5px 0;
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.footer__to-site:hover,
.footer__to-site:focus {
  color: #77b65e;
  text-decoration: underline;
}

.footer__to-site::after {
  content: '';
  border: 13px solid transparent;
  border-left-color: #77b65e;
  border-right: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer__social-item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.footer__social-item-twitter {
  background: #fff url(../img/soc-twi.svg) no-repeat center / 22px;
}

.footer__social-item-fb {
  background: #fff url(../img/soc-fb.svg) no-repeat center / 24px;
}

.footer__social-item-vk {
  background: #fff url(../img/soc-vk.svg) no-repeat center / 22px;
}


/*Government*/
/*Trustees*/

.wrapper_government,
.wrapper_trustees {
  padding-top: 10vh;
  padding-bottom: 3vh;
  justify-content: center;
  flex-wrap: wrap;
}

.government__item,
.trustees__item {
  width: 31%;
  margin-bottom: 50px;
  margin-left: 1%;
  margin-right: 1%;
}

.government__image,
.trustees__image {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
  transition: .2s;
}

.government__image img,
.trustees__image img {
  width: 100%;
  filter: grayscale(100%);
  transition: .2s;
}

.government__image {
  border: 40px solid #77b65e;
}

.trustees__image {
  border: 40px solid #183b71;
}

.government__image.active,
.trustees__image.active {
  border: none;
}

.government__image.active img,
.trustees__image.active img {
  width: 100%;
  filter: grayscale(0);
}

.government__name,
.trustees__name {
  font-size: 29px;
  color: #183b71;
  margin-bottom: 10px;
}

.government__about,
.trustees__about {
  font-size: 18px;
  margin-bottom: 15px;
}

.government__more-btn,
.trustees__more-btn {
  font-size: 19px;
  color: #77b65e;
  font-weight: 500;
  padding: 5px 45px 5px 0;
  position: relative;
  background-color: transparent;
  cursor: pointer;
}

.government__more-btn:hover,
.government__more-btn:focus,
.trustees__more-btn:hover,
.trustees__more-btn:focus {
  color: #77b65e;
}

.government__more-btn::after,
.trustees__more-btn::after {
  content: '';
  border: 13px solid transparent;
  border-top-color: #77b65e;
  border-bottom: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: .2s;
}

.government__more-btn.active::after,
.trustees__more-btn.active::after {
  transform: translateY(-50%) rotate(-180deg);
}

.government__more,
.trustees__more {
  display: none;
}


/*Docs*/

.wrapper_docs {
  padding-top: 13vh;
  justify-content: space-between;
  padding-bottom: 30px;
}

.docs__column {
  width: 31%;
}

.docs__item, .activity__link {
  display: block;
  font-size: 17px;
  color: #77b65e;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  transition: .2s;
  width: fit-content;
}

.docs__item::after, .activity__link::after {
  content: '';
  border: 12px solid transparent;
  border-right: 0;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.docs__item:focus, .activity__link:focus {
  color: #77b65e;
}

.docs__item:hover, .activity__link:hover {
  color: #183b71;
}

.docs__item:hover::after, .activity__link:hover::after {
  border-left-color: #183b71;
}


/*Contact*/

.wrapper_contact {
  flex-direction: column;
  padding-top: 14vh;
  padding-bottom: 25px;
}

.contact__paragraph {
  font-size: 19px;
  margin-bottom: 25px;
}

.contact__title {
  font-weight: 500;
  margin-bottom: 6px;
}


/*Requisites*/

.wrapper_requisites {
  justify-content: space-between;
  padding-top: 12vh;
  padding-bottom: 30px;
}

.requisites__block:first-of-type {
  width: 40%;
}

.requisites__block:last-of-type {
  width: 52%;
}

.requisites__title {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.requisites__block:first-of-type .requisites__title {
  color: #183b71;
}

.requisites__block:last-of-type .requisites__title {
  color: #77b65e;
}

.requisites__paragraph {
  font-size: 18px;
  margin-bottom: 8px;
}

.requisites__paragraph span {
  font-weight: 500;
}

.sber-label {
  width: 250px;
  height: 65px;
  background: url(../img/sber-logo.png) no-repeat center / contain;
  display: block;
  margin-bottom: 8px;
}


/*Partners*/

.wrapper_partners {
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 12vh;
  padding-bottom: 30px;
}

.partners__item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.partners__image {
  width: 235px;
  height: 235px;
  border-radius: 50%;
  background-color: #e4f0df;
  position: relative;
  margin-bottom: 25px;
}

.partners__image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.partners__name {
  font-size: 28px;
  color: #77b65e;
  text-transform: uppercase;
  transition: .2s;
}

.partners__item:hover .partners__name {
  color: #183b71;
  text-decoration: underline;
}


/*Question*/
/*Help*/

.wrapper_question,
.wrapper_help {
  flex-direction: column;
  padding-top: 12vh;
  padding-bottom: 7vh;
}

.question__description {
  font-size: 18px;
  width: 60%;
  margin-bottom: 30px;
}

.success {
  width: 60%;
  color: #77b65e;
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

.help__description {
  font-size: 18px;
  width: 65%;
  margin-bottom: 20px;
}

.help__description.monthly {
  color: #77b65e;
}

.question__form {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding-bottom: 80px;
}

.help__form {
  margin-top: 15px;
  margin-bottom: 5px;
}

.question__input-wrap {
  width: 48%;
  position: relative;
  padding-bottom: 2px;
}

.question__input,
.help__input {
  font-size: 17px;
  color: #183b71;
  background-color: #d1d8e3;
}

.question__input {
  width: 100%;
  background-color: #d1d8e3;
  padding: 16px 20px 18px 15px;
}

.help__input {
  width: 35%;
  background-color: #e8f2e4;
  margin-bottom: 15px;
  padding: 13px 20px 15px 15px;
}

.question__textarea-wrap {
  width: 100%;
  position: relative;
}

.question__textarea {
  width: 100%;
  font-size: 17px;
  color: #183b71;
  padding: 12px 20px 14px 15px;
  background-color: #e8f2e4;
  margin-top: 30px;
  min-height: 200px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #183b71;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #183b71;
}

.error {
  position: absolute;
  left: 0;
  bottom: -15px;
  font-size: 12px;
  color: #ff3f4b;
}

.help__input + .error {
  position: relative;
  margin-bottom: 15px;
  margin-top: -15px;
  bottom: 0;
}

.question__send,
.help__send {
  font-size: 19px;
  color: #fff;
  padding: 14px 55px 16px 55px;
  cursor: pointer;
  transition: .2s;
}

.question__send {
  background-color: #77b65e;
  position: absolute;
  right: 0;
  bottom: 0;
}

.question__send:hover {
  background-color: #183b71;
}

.help__send {
  background-color: #183b71;
  margin-top: 10px;
}

.help__send:hover {
  background-color: #77b65e;
}

.help__checkbox {
  margin-top: 15px;
  margin-bottom: 10px;
}

.help__checkbox-input {
  -webkit-appearance: checkbox;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.help__checkbox-input + label {
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  font-size: 16px;
  color: #183b71;
}
.help__checkbox-input:not(:checked) + label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background: #e8f2e4;
  border: 1px solid #183b71;
}
.help__checkbox-input:checked + label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background: #e8f2e4 url(../img/checkbox.svg) no-repeat center / 15px;
  border: 1px solid #183b71;
}


/*Activity*/

.activity__container {
  display: flex;
  /*flex-direction: column;*/
  flex-direction: row;
  flex-wrap: wrap;
  /*height: 35vh;*/
  width: 100%;
  overflow: hidden;
}

.wrapper_activity {
  padding-top: 13vh;
  padding-bottom: 7vh;
}

.activity__item {
  display: block;
  position: relative;
  width: 460px;
  padding-right: 4vw;
  margin-bottom: 25px;
}

.activity__item::after {
  content: '';
  border: 12px solid transparent;
  border-left-color: #77b65e;
  border-right: 0;
  position: absolute;
  right: 40px;
  bottom: 0;
  z-index: 2;
}

.activity__item::before {
  content: '';
  height: 100%;
  width: 60px;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 52%, rgba(255,255,255,0.9) 73%, rgba(255,255,255,0.9) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 52%, rgba(255,255,255,0.9) 73%, rgba(255,255,255,0.9) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 52%, rgba(255,255,255,0.9) 73%, rgba(255,255,255,0.9) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 52%, rgba(255,255,255,0.9) 73%, rgba(255,255,255,0.9) 100%);
  position: absolute;
  right: 30px;
  top: 0;
  z-index: 1;
}

.activity__name {
  font-size: 17px;
  color: #77b65e;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
  transition: .2s;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 100%;
}

.activity__item:focus .activity__name {
  color: #77b65e;
}

.activity__item:hover .activity__name {
  color: #183b71;
}

.activity__item:hover::after {
  border-left-color: #183b71;
}

.activity__date {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #202020;
  margin-bottom: 10px;
}


/*Structure*/

.wrapper_structure {
  flex-wrap: wrap;
  padding-top: 10vh;
  padding-bottom: 6vh;
}

.structure__title {
  font-size: 29px;
  color: #183b71;
  margin-bottom: 30px;
}

.structure__image {
  width: 913px;
}

.structure__image img {
  width: 100%;
  image-rendering: -o-crisp-edges;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
}

.structure__image img:last-of-type {
  display: none;
}